name: macOS Builds

on:
  push:
    branches: ["main"]
    tags:
      - "v*"

jobs:
  build-macos:
    runs-on: macos-13

    steps:
      - uses: actions/checkout@v4

      - uses: actions/setup-python@v5
        with:
          python-version: "3.11"

      - name: Install deps
        run: |
          python -m pip install --upgrade pip
          pip install pyinstaller
          pip install wxPython==4.2.1 --only-binary=:all:

      - name: Build App
        run: |
          pyinstaller --windowed --name Apnetso --icon docs/images/ANS.icns apnetso.py

      - name: Create PKG
        run: |
          mkdir -p pkgroot/Applications
          cp -R dist/Apnetso.app pkgroot/Applications/
          pkgbuild --root pkgroot --identifier com.apnetso.app --version 1.0.0 --install-location / Apnetso.pkg

      - uses: actions/upload-artifact@v4
        with:
          name: Apnetso-macOS-PKG
          path: Apnetso.pkg
