name: Windows Builds
on: [push]

jobs:
  build:
    runs-on: windows-latest

    steps:
      - uses: actions/checkout@v4

      - uses: actions/setup-python@v5
        with:
          python-version: "3.11"

      - name: Install dependencies
        run: pip install pyinstaller wxPython

      - name: Build EXE
        run: pyinstaller --onefile --windowed --name Apnetso apnetso.py

      - name: Upload artifact
        uses: actions/upload-artifact@v4
        with:
          name: Apnetso-exe
          path: dist/Apnetso.exe
