name: Apnetso Build
on: [push]

jobs:
  build:
    runs-on: windows-latest
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-python@v5
        with:
          python-version: "3.11"
      - run: pip install pyinstaller wxPython
      - run: pyinstaller --windowed --name Apnetso apnetso.py
      - uses: actions/upload-artifact@v4
        with:
          name: Apnetso-exe
          path: dist/Apnetso.exe
